.filterContainer {
  position: relative;
  display: inline-block;
  width: 200px;
}

.dropdownToggle {
  background-color: #fff;
  padding: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.2);
}

/* .dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.2);
  background-color: #fff;
  border-top: none;
  list-style: none;
  margin-top: 0.3rem;
  width: 200px;
  border-radius: 5px;
} */

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.2);
  background-color: #fff;
  border-top: none;
  list-style: none;
  margin-top: 0.3rem;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
}


.dropdownMenu.open {
  display: block;
}

ul li {
  list-style: none;
}

.dropdownMenu li {
  padding: 10px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #f0f0f0;
}

.icon {
  float: right;
}


