.countriesContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 6rem;
    padding-bottom:13.2rem;
    gap:2.81rem;
    justify-content: center;
    padding-top: 1rem;
}

.eachCountry {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.2);
    border-radius: 5px;
}

.countryImgContainer {
    width: 300px;
    height: 200px;

}


ul li {
    list-style: none;
}

.countryImg {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.countryDetails {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
}

.countryInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.countryName {
    font-size: 1rem;
    font-weight: bold;
}

.notFound {
    text-align: center;
    font-size: 20px;
}