.headerContainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding:1.5rem 6rem;
    flex-basis: 100%;
    box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.2);
}

.headerMode {
    display: flex;
    gap:1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.moonIcon {
    font-size: 15px;
    text-align: center;
}

.modeText {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    gap:1rem;
    text-align: center;
    cursor: pointer;
}





@media (max-width:768px) {
    .headerContainer{
        display: flex;
        padding:2.5rem 1rem;
    }

    .world {
        font-size: 20px;
    }
}

