
.searchContainer {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.2);
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:0.3rem;
    padding:0.4rem 1rem;
}

.searchIconContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}

.searchIcon {
    opacity: 0.5;
    position:relative;
}

.searchInput {
    display: flex;

}

.inputText {
    padding:0.7rem;
    border:none;
    outline:none;
    font-size: 16px;
}


@media (max-width:768px) {
    .inputText{
        width:75vw;
    }
}

@media (max-width:1200px) and (min-width:770px) {
    
}