* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

.searchFilter {
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
  align-items: center;
}



/* loader */

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.ldsDualRing {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  align-self: center;
}

.ldsDualRing:after {
  content: " ";
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid #fff;
  border-color: rgb(40, 116, 240) rgb(153, 190, 246);
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* error-message */

.errorMessage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  padding: 5rem;
}

.errorMessage {
  display: block;
}

.noProducts {
  text-align: center;
  display: block;
}


@media (max-width:768px) {
  .searchFilter{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap:0.8rem;
    justify-content:center;
    padding: 1rem;
    align-items: center;
  }
}


@media (max-width:1200px) and (min-width:770px) {
  .searchFilter {
    display: flex;
    gap:0.5rem;
    flex-basis: 80%;
    flex-wrap: wrap;
  }
}